body {
    margin: 0;
}

main {
    margin-left: 350px;
    padding: 10px 20px;
}

header {
    margin-left: 350px;
    position: sticky;
    top: 0;
    background-color: black;
    z-index: 2;
}

header nav {
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
    margin: 15px;
    line-height: 50px;
    vertical-align: middle;
}

header a:hover {
    text-shadow: 0 0 10px #fdec6e;
    color: #fdec6e;
}

.disabled {
    pointer-events: none;
    color: #FF9F55;
}

.logo {
    height: 20px;
    margin-right: 5px;
    vertical-align: bottom;
}

.link {
    text-decoration: none;
    padding: 5px;
    color: black;
    line-height: 20px;
    background-color: #FF9F55;
    margin-right: 10px;
}


#education h2, #experience h2, #personalprojects h2 {
    margin-top: 50px;
}

ul {
    list-style-type: circle;
}

#photos figure {
    display: inline-block;
    margin: 20px;
}

#photos img {
    object-fit: cover;
    width: 150px;
    height: 150px;
}

#teamprojects ul, #personalprojects ul{
    display: grid;
    grid-template-rows: 210px 210px;
    gap: 10px;
    list-style-type: none;
    padding: 0;
}

#teamprojects li, #personalprojects li {
    background-color: lightgray;
    border-radius: 20px;
    padding: 0 15px;
}

#teamprojects h4, #personalprojects h4 {
    margin-bottom: 0;
}

#teamprojects span, #personalprojects span {
    color: blue;
    font-weight: bold;
}

#teamprojects a, #personalprojects a {
    color: black;
    word-break: break-all;
}

.flow {
    display: flow;
}

.full {
    margin-left: 0;
}

.headericon {
    height: 50px;
    margin: 10px;
    vertical-align: middle;
}

#img-info {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
    text-align: left;
}

#comic {
    text-align: center;
}

#comic img {
    max-height: 80vh;
    max-width: 80%;
}

#from-now {
    font-weight: normal;
    margin-top: 8px;
}

#img-info label{
    display: flow;
}

#comic-title {
    font-weight: bold;
    text-transform: uppercase;
    margin: 25px 0;
}

#release-date {
    font-weight: bold;
    margin-top: 20px;
}